@charset "utf-8";
body {
	padding:0px;
	margin:0px;
	font:12px/1.5 Tahoma,Arial,"微软雅黑",sans-serif;
	background-color:#f5f5f5;
	color:#666;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h4, h5, h6, input, button, textarea, p, blockquote, th, td, form, figure{
    margin: 0px;
    padding: 0px;}
a{ text-decoration:none; }
ul{ list-style-type:none;}
img{ 
    vertical-align:middle;
    border:0;
}
em, i {
    font-style: normal;
}
.clear{ 
	clear:both; 
	height:0; line-height:0; 
	font-size:0;
}
/* 全浏览器通用的clearfix方案【推荐】
引入了zoom以支持IE6/7
同时加入:before以解决现代浏览器上边距折叠的问题 */
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}
.fl{float:left; }
.fr{float:right; }
li{ list-style-type:none;}



.top-nav-box{ 
    width: 100%; 
    height: 32px; 
    background-color: #f2f2f2; 
    border-bottom: 1px solid #e5e5e5;
}
.top-nav{ 
    width: 1230px; 
    height: 32px; 
    margin: 0 auto; 
    color: #999;
}
.top-nav ul{ 
    display: block; 
    height: 32px;
}
.top-nav ul li{ 
    line-height: 32px; 
    float: left; 
}
.top-nav a{ 
    color: #999; 
    display: inline-block;
    text-align: center;
}
.top-nav a:hover{
    color:#FF0036
}
.top-nav-l li{
    padding-right: 20px;
}
/*我的淘宝*/
.down-list-mine { 
    position: relative; 
    display: inline-block;
    border-left: 1px solid #eee; 
    border-right: 1px solid #eee; 
}
/*旋转三角*/
.triangle{
    width:0px;
    height:0px;
    display: inline-block;
    position: relative;
    right: -3px;
    top:-3px;
	border-top:3px solid #bbb;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	transition: all 0.5s ease 0s;
}
.down-list-mine:hover .triangle{
    transform: rotate(180deg);
}
.down-list-business:hover .triangle{
    transform: rotate(180deg);
}

.down-list-mine a:hover{ 
    text-decoration: underline;
}
.down-list-mine:hover{ 
    background-color: #fff;
}
.down-title{
    height: 33px;
    padding: 0 14px 0 10px;
}
/*我的淘宝---下拉内容*/
.down-content{ 
    width: 94px; 
    text-align: center; 
    display: none;  
    border:1px solid #eee; 
    border-top: none;
    border-top: 0;
    position: absolute;
    left: -1px;
    top:33px;
    background-color: #fff;
}
.down-content a{
    color:#666;
}
.down-list-mine:hover .down-content{ 
    display: block;
}
/*带图标导航（购物车、手机版、网站导航）*/
.down-list-icon a{
    padding: 0 10px;
}
.down-list-icon{ 
    position: relative;
    top: -2px;
    margin-right: 3px;
}
/*手机版*/
.phone-title{
    position: relative;
}
.phone-img {
    display: none;
    position: absolute;
    top: 24px;
    left: -50px;
    z-index: 3;
    
}
.phone-img i{
    width: 0;
    height: 0;
    border-bottom:4px solid rgb(255, 255, 255);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    display: block;
    margin-left: 85px;
    position: absolute;
    top: 0;
}
.phone-img img{
    box-shadow: 0 0 5px #aaa;
    margin-top: 4px;
}
.phone-title:hover .phone-img{
    display: block;
}

/*商家支持*/
.down-list-business { 
    position: relative; 
    display: inline-block;
}
.down-list-business:hover{ 
    background-color: #fff;
}
.down-business-content{ 
    width: 140px; 
    line-height: 20px;
    display: none;
    border:1px solid #eee; 
    border-top: none;
    position: absolute;
    right: -1px;
    top:33px;
    color: #666;
    padding-bottom: 10px;
    background-color: #fff;
    z-index: 3;
}
.down-business-content a:hover{
    text-decoration: underline;
}
.down-business-content ul{
    height: 176px;
    padding: 0 10px;
}
.down-business-content ul li{
    width: 120px;
    line-height: 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #827777;;
}
.down-business-content p{
    font-weight: bold;
}
.down-business-content a{
    margin-right:10px;
    color: #666;
}
.down-list-business:hover .down-business-content{ 
    display: block;
}
/*网站导航*/
.down-list-menu { 
    position: relative; 
    display: inline-block;
    border-left: 1px solid #eee; 
    border-right: 1px solid #eee; 
}
.down-list-menu a:hover{ 
    text-decoration: underline;
}
.down-list-menu:hover{ 
    background-color: #fff;
}
/*网站导航---下拉内容*/

.down-content-menu{ 
    width: 1198px; 
    display: none; 
    border:1px solid #eee; 
    border-top: none;
    position: absolute;
    right: -1px;
    top:33px;
    padding: 20px 0;
    background-color: #fff;
    z-index: 3;
}
.down-list-menu:hover .down-content-menu{ 
    display: block;
}
/*热点推荐*/
.menu-hot,.menu-market{
    width: 455px;
    padding-left: 30px;
}
.menu-hot h2,.menu-market h2,.menu-help h2{
    font-weight: 100;
    font-size: 16px;
    padding-bottom: 3px;
}
.menu-hot h2{
    color:#f56a00;
}
.menu-market h2{
    color:#2263d4;
}
.menu-help h2{
    color:#666;
}
.down-content-menu ul{
    height: 84px;
    margin-left: -20px;
}
.down-content-menu ul li{
    width: 75px;
    margin-left: 20px;
    line-height: 28px;
}
.down-content-menu a{
    position: relative;
    color: #666
}
.menu-hot ul{
    width: 475px;
}
.menu-hot a:hover{
    color: #f56a00;
}
.icon-hot-new{
    position: absolute;
    top:-10px;
}
/*行业市场*/
.menu-market{
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.menu-market a:hover{
    color: #2263d4;
}
/*帮助服务*/
.menu-help{
    width: 196px;
    margin-left: 30px;
}
.menu-help a:hover{
    color: #666;
}


/*头部*/
.header{
    width: 1230px;
    height: 130px;
    margin: 0 auto;
}
/*搜索框*/
.search-box{
    margin-top: 38px;
    margin-left: 72px;
    font-size: 14px;
}
.search-input{
    width: 491px;
    height: 36px;
    line-height: 36px;
    border: 2px solid #FF0036;
    color: #999;
    text-indent: 10px;
}
.search-button{
    width: 130px;
    height: 40px;
    line-height: 40px;
    border: none;
    background-color: #FF0036;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    cursor: pointer;
}
.search-box ul{
    height: 21px;
    margin-left: -12px;
    margin-top: 4px;
    display: block;
}
.search-box ul li{
    float: left;
}
.search-box ul li a{
    color: #999;
    padding:0 12px;
    border-right: 1px solid #ccc;
}
.search-box ul li a.red{
    color: #ff0036;
}
/*网站导航*/
.nav-box{
    width: 100%;
    height: 36px;
    border-bottom: 2px solid #ff0036;
    
}
.nav{
    width: 1230px;
    margin: 0 auto;
}
.nav ul{
    width: 912px;
    height: 36px;
    display: block;
    margin-left: 200px;
}
.nav ul li{
    float: left;
    display: block;
    font-size: 16px;
}
.nav ul li a{
    color: #333;
    line-height: 36px;
    padding: 0 10px;
}
.nav ul li a:hover{
    color: #ff0036;
}
.nav img{
    width: 100px;
    height: 30px;
}

/*商品分类*/
.classification-box{
    width: 1230px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.classification-con{
    position: absolute;
    top: -36px;
    left: 0;
}
.classification-title{
    width: 200px;
    height: 36px;
    background-color: #ff0036;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.classification-title img{
    padding: 12px;
}
.classification-list{
    position: relative;
}
.classification-list ul{
    width: 200px;
    background-color: rgba(0,0,0,.55);
}
.classification-list ul li{
    height: 31.25px;
    line-height: 31.25px;
    color:#fff;
    padding-left: 40px;
}
.classification-list ul li:hover{
    background-color: #fff;
}
.classification-list a{
    color: #fff;
}
.DeepPink-li:hover,.DeepPink-li:hover > a,.word-list-con a.DeepPink,.word-list-con a:hover{
    color:#e54077;
}
.DodgerBlue-li:hover,.DodgerBlue-li:hover > a,.word-list-con a.DodgerBlue{
    color:#427def;
}
.DarkSlateBlue-li:hover,.DarkSlateBlue-li:hover > a,.word-list-con a.DarkSlateBlue{
    color:#6347ed;
}
.Tomato-li:hover,.Tomato-li:hover > a,.word-list-con a.Tomato{
    color:#fa5c5c;
}
.Orange-li:hover,.Orange-li:hover > a,.word-list-con a.Orange{
    color:#f7a831;
}
.Crimson-li:hover,.Crimson-li:hover > a,.word-list-con a.Crimson{
    color:#dd2727;
}
.Aquamarine-li:hover,.Aquamarine-li:hover > a,.word-list-con a.Aquamarine{
    color:#3bc7b0;
}


.subclassification-list{
    width: 852px;
    height: 500px;
    background-color: #fff;
    color: #666;
    position: absolute;
    left: 200px;
    top: 0;
    display: none;
}
.DeepPink-li:hover .subclassification-list{
    display: block;
}
.DodgerBlue-li:hover .subclassification-list{
    display: block;
}
.word-list-title{
    width: 60px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
}
.hot-word-list span{
    width: 14px;
    height: 22px;
    line-height: 22px;
    display: block;
    text-align: center;
}
.hot-word{
    width: 583px;
    height: 462px;
    margin: 19px 30px;
}
.word-list-con{
    width: 493px;
    
}
.word-list-con a{
    height: 22px;
    line-height: 22px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #666; 
    margin-left: 13px;
}

.border-dashed{
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #bbb;
    clear: both;
}
/*公司logo*/
.sub-logo{
    width: 189px;
    height: 480px;
    padding: 10px;
    background-color: #fafafa;
}
.sub-logo ul{
    width: 189px;
    height: 384px;
    display: block;
    background-color: #fafafa;
}
.sub-logo ul li{
    height: 47px;
    display: block;
    float: left;
    background-color: #fff;
    margin: 0 1px 1px 0;
    padding:0;
}
.sub-logo ul li a{
    display: block;
    width: 73px;
    height: 37px;
    padding: 5px 10px;
    overflow: hidden;
}
.sub-logo ul li img{
    width: 100%;
}
.nav-ad{
    width: 189px;
    height: 87px;
}
.nav-ad a{
    
    display: block;
    margin-top: 10px;
    overflow: hidden;
}
.nav-ad img{
    width: 100%;
}
/*banner轮播*/
 .baner-box{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 1;
}
 .banner{
     width:5760px;
     position: absolute;
     left:0;
     animation-name: bannerMove;
     animation-duration: 8s;
     animation-iteration-count: infinite;
}
 @keyframes bannerMove {
    0%{left: 0px;}
    17%{left: 0px;}
    34%{left: -1920px;}
    51%{left: -1920px;}
    68%{left: -3840px;}
    85%{left: -3840px;}
    100%{left: 0px;}
 }
 .banner li{
    float: left; 
    width: 1920px;
    height: 500px;
} 
/* 主体内容 */
.main{
    width: 1230px;
    margin: 0 auto;
}
/* 女神节广告 */
.page-title a{
    height: 105px;
    display: block;
    background: url(images/adtit.png) center center no-repeat;
    background-size: 300px 65px;
}
.page-list span{
    display: block;
    font-size: 19px;
    font-weight: 700;
}
.ad-title{
    margin-top: 39px;
}
.page-list em{
    display: block;
    font-size: 18px;
}
.page-content a{
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.page-item-vertical,.page-item-horizontal{
    display: block;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.page-item-vertical{
    width: 250px;
    height: 330px;
    text-align: center;
    background-image: url(images/ad_01.png);
}

.item-pic{
    width: 180px;
    height: 180px;
    margin: 20px auto 0;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
}
.page-item-horizontal{
    width: 350px;
    height: 160px;
    margin-left: 10px;
    background-image: url(images/ad_04.png);
}
.horizontal-word{
    margin: 35px 0  0 30px;
}
.page-item-horizontal em{
    margin-left: 30px;
}
.item-pic-horizontal{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.DarkViolet{
    color: #8C0BEF;
}
.FireBrick{
    color: #d30d0d;
}
.Green{
    color: #179510;
}
/* 楼层品牌墙 */
.brandWall-box{
    margin-top: 30px;
}
.brandWall-title{
    padding: 13px 15px 13px 10px;
    background-color: #fff;
}
.brandWall-title span{
    font-weight: 700;
    font-size: 18px;
    color: #333;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}
.brandWall-title em{
    font-weight: 700;
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    height: 28px;
    line-height: 29px;
    display: inline-block;
}
.brandWall-title a{
    width: 56px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    background: url(images/brandWal_01.png) right center no-repeat ;
    background-size: 18px 18px;
    font-size: 16px;
    color: #666;
}
.brandWall-small-con a{
    width: 234px;
    height: 316px;
    display: block;
}
.brandWall-box img{
    width: 100%;
    height: 316px;
}
.brandWall-box img:hover{
    opacity: 0.8;
}
.brandWall-big{
    margin-left: 13px;
}
.brandWall-big-con a{
    width: 485px;
    height: 316px;
    display: block;
}
/* 品牌广告 */
.brand-list{
    margin-top: 15px;
}
.brand-list ul{
    width: 1230px;
    display: block;
}
.brand-list li{
    float: left;
    margin: 0 1px 1px 0;
    background-color: #fff;
    height: 108px;
    line-height: 108px;
    width: 122px;
    position: relative;
}
.brand-list span,.brand-a{
    width: 122px;
    height: 108px;
    text-align: center;
    display: block;
}
.brand-list span img{
    width: 100px;
    height: 50px;
    overflow: hidden;
}
.brand-a{
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s ease-out;
}
.brand-a:hover{
    opacity: 1;
}
.word{
    height: 60px;
    text-align: center;
    line-height: 90px;
    color: #fff;
}
.enter{
    color: #fff;
    width: 63px;
    height: 18px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
    margin: 0 auto;
}
.refresh-btn{
    display: block;
    text-align: center;
    height: 75px;
    padding-top: 33px;
}
.refresh-icon{
    width: 122px;
    height: 25px;
    line-height: 15px;
    display: block;
    transition: all 0.5s ease 0s;
    background: url(images/refresh_01.png) center bottom no-repeat;
}
.refresh-word{
    height: 18px;
    line-height: 15px;
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}
.refresh-btn:hover{
    background-color: #ff0036;
}
.refresh-btn:hover .refresh-word{
    color: #fff;
}
.refresh-btn:hover .refresh-icon{
    background: url(images/refresh_02.png) center bottom no-repeat;
    transform: rotate(360deg);
}
/* 天猫超市 */
.tmallmart{
    margin-top: 25px;
}
.tmallmart-title-l img{
    width: 214px;
    height: 25px;
}
.tmallmart-title-r ul{
    display: block;
}
.tmallmart-title-r li{
    float: left;
    display: block;
    margin: 0 10px;
}
.tmallmart-title-r a{
    color: #000;
    font-size: 14px;
    line-height: 20px;
}
.tmallmart-title-r a:hover{
    border-bottom: 1px solid #333;
}
.tmallmart-con{
    margin-top: 10px;
}
.tmallmart-l-ad{
    display: block;
    position: relative;
}
.tmallmart-l-word{
    position: absolute;
    top: 430px;
    left: 0;
}
.tmallmart-l-ad span{
    width: 36px;
    height: 48px;
    display: block;
    background: rgba(0,0,0,.9);
    color: #fff;
    font-size: 18px;
    float: left;
    padding: 8px 17px;
    line-height: 23px;
}
.tmallmart-l-ad i{
    width: 100px;
    height: 48px;
    display: block;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 18px;
    float: left;
    padding: 8px 0 8px 14px;
    line-height: 23px;
}
.tmallmart-l-ad img{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.tmallmart-l-ad:hover img{
    opacity: 0.7;
}
.floor-arrow-big{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.tmallmart-con-r{
    width: 995px;
}
/* 选项卡切换广告 */
.tab-ad{
    width: 464px;
    height: 282px;
    padding: 10px;
    background-color: #fff;
    margin-left: 13px;
}
.tab-ad ul{
    width: 462px;
    height: 282px;
    display: block;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.09);
}
.tab-ad-title{
    background-color: #00B262;
}

.ad-item{
    width: 234px;
    height: 300px;
    display: block;
    background-color: #fff;
    text-align: center;
    border: 1px solid #fff;
    margin: 0 0 13px 12px;
    cursor: pointer;
}
.ad-item:hover{
    border: 1px solid #FF0036;
}
.ad-img{
    margin-top: 20px;
}
.ad-item:hover .ad-img{
    opacity: .7;
}
.ad-item-title{
    width: 135px;
    height: 40px;
    overflow: hidden;
    margin: 8px auto;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.ad-item-price{
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
}

.ad-banner{
    margin-top: 10px;
}
.tmallmart-title-l i{
    width: 5px;
    height: 18px;
    display: inline-block;
    background-color: #EA5F8D;
    vertical-align: middle;
}
.tmallmart-title-l span{
    color: #333;
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.tmallmart-title-l em{
    color: #333;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
/* 猜你喜欢 */
.like-box h2{
    margin: 30px auto 20px;
    font-weight: 100;
    text-align: center;
    position: relative;
}

.like-title::before,.like-title::after{
    content: "";
    width: 30px;
    height: 1px;
    background-color: #979797;
    display: inline-block;
    top: 10px;
}
.like-content{
    width: 1230px;
}
.first{
    margin-left: 0;
}
.end{
    margin-bottom: 10px;
    text-align: center;
}
/* 底部内容 */
.footer-box{
    background-color: #fff;
    border-top: 1px solid #D1D7DC;
}
.footer{
    width: 1190px;
    margin: 0 auto;
}
.ensure{
    height: 100px;
    margin: 25px 0; 
    background:url(images/ensure.jpg) center center no-repeat;
}
.ensure a{
    width: 297px;
    height: 100px;
    display: inline-block;
}
/* 品质保证 */
.desc{
    border-top: 1px solid #ededed;
    background: url(images/tmall.png) 45px bottom no-repeat;
    background-size: 68px 23px;
    padding-bottom: 24px;
}
.desc dl{
    width: 186px;
    padding:23px 0 0 52px;
    float: left;
}
.desc dt{
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}
.desc a{
    color: #999;
    line-height: 20px;
}
.footer-copyright{
    border-top: 2px solid #ff0036;
    background-color: #000;
}
.footer-copyright a{ 
    color: #fff;
}
.copyright{
    width: 1190px;
    margin: 0 auto;
}
.tmallinfo a{
    display: inline-block;
    padding: 12px 6px 0 0;
}
.otherlink{
    color: #fff;
    padding: 17px 0 6px 0;
}
.otherlink em{
    padding: 0 4px;
}
.copyright-word{
    color: #a4a4a4;
    line-height: 25px;
}
.copyright-word a{
    color: #a4a4a4;
    margin-right: 70px;
}
.copyright-word img{
    vertical-align: -20%;
    margin-right: 5px;
}
.copyright-img{
    padding: 14px 0 24px 0;
}
.copyright-img a{
    display: inline-block;
    margin-right: 14px;
}

/* 顶部固定搜索  */
.top-search-box{
    width: 100%;
    background-color: #FF0036;
    opacity: .95;
    position: fixed;
    top: 0;
    z-index:11;
}
.top-search{
    width: 1230px;
    margin: 0 auto;
    padding: 10px 0;
}
.top-search img{
    padding: 6px 121px 6px 0;
}
.top-search-input{
    width: 650px;
    height: 30px;;
    line-height: 30px;
    text-indent: 8px;
    border: 0;
}
.top-search-button{
    width: 90px;
    letter-spacing: 4px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #ff0036;
    cursor: pointer;
}
/* 右边固定购物车 */
.mask-fixed{
    width: 35px;
    height: 974px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 111;
}
.mask-fixed-top{
    position: absolute;
    top: 30%;
}
.common{
    width: 35px;
    height: 35px;
    margin: 8px 0;
    cursor: pointer;
    color: #fff;
}
.mask-cat{
    background: url(images/index_01.png) center center no-repeat;
}
.mask-shop{
    background: url(images/index_02.png) center 8px no-repeat;
    width: 35px;
    height: 98px;
}
.mask-shop span{
    width: 25px;
    height: 96px;
    display: block;
    margin: 0 auto;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.mask-shop span:hover{
    border-top: 1px solid #ff0036;
    border-bottom: 1px solid #ff0036;
}
.mask-shop:hover{
    background: url(images/index_03.png) center 8px no-repeat;
}
.mask-money{
    background: url(images/index_04.png) center center no-repeat;
}
.mask-star{
    background: url(images/index_05.png) center center no-repeat;
}
.mask-clock{
    background: url(images/index_06.png) center center no-repeat;
}
.mask-recharge{
    background: url(images/index_07.png) center center no-repeat;
}
.common:hover{
    background-color: #ff0036;
}
.mask-shop em{
    width: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 42px;
    line-height: 16px;
}
.tip{
    width: 90px;
    height: 35px;
    display: block;
    background-color: #494949;
    color: #fff;
    text-align: center;
    line-height: 35px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.tip-triangle{
    display: inline-block;
	border-top:6px solid transparent;
	border-left:7px solid #494949;
    border-bottom:6px solid transparent;
    margin: 11px 0;
}
.hidden-member,.hidden-money,.hidden-star,.hidden-clock,.hidden-recharge,.hidden-feedback,.hidden-ma,.hidden-back{
    opacity: 0;
    width: 97px;
    position: absolute;
    right:50px;
    transition:.5s;
}
.hidden-member{  
    top: 8px;
}
.hidden-money{
    top: 157px;
}
.hidden-star{
    top: 200px;
}
.hidden-clock{
    top: 243px;
}
.hidden-recharge{
    top: 285px;
}
 .mask-cat:hover .hidden-member,.mask-money:hover .hidden-money,.mask-star:hover .hidden-star,.mask-clock:hover .hidden-clock,.mask-recharge:hover .hidden-recharge,
 .mask-feedback:hover .hidden-feedback,.mask-ma:hover .hidden-ma,.mask-back:hover .hidden-back{
    transform: translateX(22px);
    opacity: 1;
}

.mask-fixed-bottom{
    position: absolute;
    bottom: 0;
}
.mask-feedback{
    background: url(images/index_08.png) center center no-repeat;
}
.mask-ma{
    background: url(images/index_09.png) center center no-repeat;
}
.mask-back{
    background: url(images/index_10.png) center center no-repeat;
}
/* 固定楼层导航 */
.floor-nav{
    width: 35px;
    height: 370px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    margin-left: -673px;
    margin-bottom: -290px;
    z-index: 999;
}
.floor-nav-title{
    width: 35px; 
    height: 35px;
    background-color: #ff0036;
    color: #fff;
    text-align: center;
    line-height: 35px;
}
.floor-nav a{
    width: 35px; 
    height: 35px;
    display: block;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    margin-top: 1px;
}
.floor-nav-content{
    width: 26px;
    padding: 5px 0;
    margin: 0 auto;
    line-height: 12px;
}